@import "./../theme/variables.less";

@comic-image-height: 225px;
@comic-image-width: 150px;
.comic-container {
    padding: 1px;
    margin-bottom: 5px;
    border: 2px solid @gray-dark;

    &:hover {
        border-color: @brand-primary;
        .comic .check-box {
            background-color: @brand-primary;
        }
    }

    &.active {
        border-color: @component-active-bg;
        .comic .check-box {
            background-color: @component-active-bg;
        }
    }

    .comic {
        position: relative;
        height: @comic-image-height;
        img {
            float: left;
            width: @comic-image-width;
            height: @comic-image-height;
        }

        .comicDetails {
            margin-left: 10px;
            overflow-y: hidden;
            height: @comic-image-height;

            .description {
                overflow-y: auto;
            }
        }

        .check-box {
            margin-left: 5px;
            padding: 0 10px;
            background-color: @gray;
            &:active {
                background-color: @component-active-bg;
            }
        }
    }
}
