@import "./../theme/variables.less";

@comic-image-height: 225px;
@comic-image-width: 150px;
.comic-container {
    padding: 1px;
    margin-bottom: 5px;
    border: 2px solid @gray-dark;

    &:hover {
        border: 2px solid @brand-primary;
    }

    .comic {
        position: relative;
        height: @comic-image-height;
        img {
            float: left;
            width: @comic-image-width;
            height: @comic-image-height;
        }

        .comicDetails {
            margin-left: @comic-image-width + 10px;
            overflow-y: hidden;
            height: @comic-image-height;

            .description {
                overflow-y: auto;
            }
        }
    }
}
