.comic {
    margin: 10px;
    height: 225px;
    img {
        float: left;
        width: 150px;
        height: 225px;
    }

    .comicDetails {
        margin-left: 160px;
        overflow-y: hidden;
        height: 225px;
    }

    .btn-group {
        margin: 10px;
    }
}